src/test/resources/data/entry/entry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../entry/person/person.xsd"/>
    <xs:element name="scenariodata">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="testdetails" minOccurs="0" maxOccurs="1"> 
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="testid" minOccurs="1" maxOccurs="1"/>
                         </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref = "persons" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>